<a href="https://colab.research.google.com/github/pranali-kirolkar/MSCPROJECT/blob/main/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

importing dataset

In [ ]:
Dataset = pd.read_csv('/Sales Summer Clothes....csv') 
Dataset

                           Timestamp  ... Rating
0     2021/04/08 7:06:12 PM GMT+5:30  ...  4 STAR
1     2021/04/08 7:11:02 PM GMT+5:30  ...  3 STAR
2     2021/04/08 7:17:09 PM GMT+5:30  ...  3 STAR
3     2021/04/08 7:17:12 PM GMT+5:30  ...  4 STAR
4     2021/04/08 7:20:51 PM GMT+5:30  ...  5 STAR
..                               ...  ...     ...
149   2021/04/19 9:55:11 PM GMT+5:30  ...  3 STAR
150   2021/04/19 9:56:01 PM GMT+5:30  ...  4 STAR
151   2021/04/19 9:58:33 PM GMT+5:30  ...  5 STAR
152  2021/04/19 10:01:18 PM GMT+5:30  ...  5 STAR
153  2021/04/19 10:10:24 PM GMT+5:30  ...  5 STAR

[154 rows x 12 columns]

In [ ]:
Dataset.head()

                        Timestamp  ... Rating
0  2021/04/08 7:06:12 PM GMT+5:30  ...  4 STAR
1  2021/04/08 7:11:02 PM GMT+5:30  ...  3 STAR
2  2021/04/08 7:17:09 PM GMT+5:30  ...  3 STAR
3  2021/04/08 7:17:12 PM GMT+5:30  ...  4 STAR
4  2021/04/08 7:20:51 PM GMT+5:30  ...  5 STAR

[5 rows x 12 columns]

In [ ]:
Dataset.tail()

                           Timestamp  ... Rating
149   2021/04/19 9:55:11 PM GMT+5:30  ...  3 STAR
150   2021/04/19 9:56:01 PM GMT+5:30  ...  4 STAR
151   2021/04/19 9:58:33 PM GMT+5:30  ...  5 STAR
152  2021/04/19 10:01:18 PM GMT+5:30  ...  5 STAR
153  2021/04/19 10:10:24 PM GMT+5:30  ...  5 STAR

[5 rows x 12 columns]

In [ ]:
Dataset.columns

Index(['Timestamp', 'Name', 'How old are you?',
       'How often do you buy clothes in the sale? ',
       'Which type of clothing have you purchased recently?',
       'Which Brand of clothing have you purchased?', 'Price of the Clothes :',
       'Which time do you prefer purchasing Clothes?',
       'Where do you prefer purchasing clothes?',
       'Do you compare prices to make purchase decisions?',
       'Is there any worst experience in clothes sale? ', 'Rating '],
      dtype='object')

In [ ]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 12 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Timestamp                                            154 non-null    object
 1   Name                                                 154 non-null    object
 2   How old are you?                                     154 non-null    object
 3   How often do you buy clothes in the sale?            154 non-null    object
 4   Which type of clothing have you purchased recently?  154 non-null    object
 5   Which Brand of clothing have you purchased?          154 non-null    object
 6   Price of the Clothes :                               154 non-null    object
 7   Which time do you prefer purchasing Clothes?         154 non-null    object
 8   Where do you prefer purchasing clothes?              154 non-null    object
 9   Do you compare prices to make purchase decisions?    154 non-null    object
 10  Is there any worst experience in clothes sale?       154 non-null    object
 11  Rating                                               154 non-null    object
dtypes: object(12)
memory usage: 14.6+ KB

In [ ]:
Dataset.isnull()

     Timestamp   Name  ...  Is there any worst experience in clothes sale?   Rating
0        False  False  ...                                            False    False
1        False  False  ...                                            False    False
2        False  False  ...                                            False    False
3        False  False  ...                                            False    False
4        False  False  ...                                            False    False
..         ...    ...  ...                                              ...      ...
149      False  False  ...                                            False    False
150      False  False  ...                                            False    False
151      False  False  ...                                            False    False
152      False  False  ...                                            False    False
153      False  False  ...                                            False    False

[154 rows x 12 columns]

In [ ]:
Dataset.isnull().sum()

Timestamp                                              0
Name                                                   0
How old are you?                                       0
How often do you buy clothes in the sale?              0
Which type of clothing have you purchased recently?    0
Which Brand of clothing have you purchased?            0
Price of the Clothes :                                 0
Which time do you prefer purchasing Clothes?           0
Where do you prefer purchasing clothes?                0
Do you compare prices to make purchase decisions?      0
Is there any worst experience in clothes sale?         0
Rating                                                 0
dtype: int64

In [ ]:
Dataset.describe()

                             Timestamp  ... Rating
count                              154  ...     154
unique                             154  ...       3
top     2021/04/19 9:18:21 PM GMT+5:30  ...  5 STAR
freq                                 1  ...     106

[4 rows x 12 columns]

In [ ]:
round(Dataset.describe())

                             Timestamp  ... Rating
count                              154  ...     154
unique                             154  ...       3
top     2021/04/19 9:18:21 PM GMT+5:30  ...  5 STAR
freq                                 1  ...     106

[4 rows x 12 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')