<a href="https://colab.research.google.com/github/pranali-kirolkar/MSCPROJECT/blob/main/LogisticRe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import graphviz
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report, confusion_matrix
%matplotlib inline
print("Libraries Loaded")

Libraries Loaded

In [2]:
#Sales of Summer clothes Dataset
Dataset = pd.read_csv('/content/SalesSummerClothes.csv')

In [3]:
#Dropanelement
Dataset.drop('Timestamp',axis=1,inplace=True)

In [4]:
#Dropanelement
Dataset.drop('Name',axis=1,inplace=True)

In [5]:
Dataset

       Age   Buy_Clothes  ... worst_experience Rating
0    18-25  Occasionally  ...               No       4
1    18-25  Occasionally  ...              Yes       3
2    18-25  Occasionally  ...              Yes       3
3    18-25  Occasionally  ...              Yes       4
4    18-25  Occasionally  ...               No       5
..     ...           ...  ...              ...     ...
197  18-25  Occasionally  ...               No       4
198  18-25     Regularly  ...               No       4
199  18-25     Regularly  ...               No       4
200  18-25  Occasionally  ...               No       4
201  35-50  Occasionally  ...              Yes       4

[202 rows x 10 columns]

In [6]:
#showfirstfiveElements
Dataset.head()

     Age   Buy_Clothes  ... worst_experience Rating
0  18-25  Occasionally  ...               No       4
1  18-25  Occasionally  ...              Yes       3
2  18-25  Occasionally  ...              Yes       3
3  18-25  Occasionally  ...              Yes       4
4  18-25  Occasionally  ...               No       5

[5 rows x 10 columns]

In [7]:
#ShowLastFiveElements
Dataset.tail()

       Age   Buy_Clothes  ... worst_experience Rating
197  18-25  Occasionally  ...               No       4
198  18-25     Regularly  ...               No       4
199  18-25     Regularly  ...               No       4
200  18-25  Occasionally  ...               No       4
201  35-50  Occasionally  ...              Yes       4

[5 rows x 10 columns]

In [8]:
Dataset.columns

Index(['Age', 'Buy_Clothes', 'Type_Clothes', 'Brand_Clothes', 'Price',
       'time_prefer ', 'prefer_purchasing ', 'compare_prices ',
       'worst_experience', 'Rating '],
      dtype='object')

In [9]:
one_hot_data = pd.get_dummies(Dataset[['Buy_Clothes','Type_Clothes','Brand_Clothes','compare_prices ','worst_experience','time_prefer ']])

In [10]:
one_hot_data

     Buy_Clothes_Occasionally  ...  time_prefer _Without the sales (Off Season)
0                           1  ...                                            0
1                           1  ...                                            0
2                           1  ...                                            0
3                           1  ...                                            0
4                           1  ...                                            1
..                        ...  ...                                          ...
197                         1  ...                                            0
198                         0  ...                                            0
199                         0  ...                                            0
200                         1  ...                                            1
201                         1  ...                                            0

[202 rows x 82 columns]

In [12]:
one_hot_data = pd.get_dummies(Dataset[['Buy_Clothes','Type_Clothes','Brand_Clothes','compare_prices ','worst_experience','time_prefer ']],drop_first=True)

In [13]:
one_hot_data

     Buy_Clothes_Regularly  ...  time_prefer _Without the sales (Off Season)
0                        0  ...                                            0
1                        0  ...                                            0
2                        0  ...                                            0
3                        0  ...                                            0
4                        0  ...                                            1
..                     ...  ...                                          ...
197                      0  ...                                            0
198                      1  ...                                            0
199                      1  ...                                            0
200                      0  ...                                            1
201                      0  ...                                            0

[202 rows x 76 columns]

In [14]:
one_hot_data.columns

Index(['Buy_Clothes_Regularly', 'Type_Clothes_Casual Dress,Ladies Tops',
       'Type_Clothes_Jeans', 'Type_Clothes_Jeans,Casual Dress',
       'Type_Clothes_Jeans,Ladies Tops', 'Type_Clothes_Jeans,Women Dress',
       'Type_Clothes_Jeans,Women Dress,Casual Dress',
       'Type_Clothes_Jeans,Women Dress,Casual Dress,Ladies Tops',
       'Type_Clothes_Jeans,Women Dress,Ladies Tops', 'Type_Clothes_Short's ',
       'Type_Clothes_T-shirt', 'Type_Clothes_T-shirt, Gents',
       'Type_Clothes_T-shirt,Casual Dress', 'Type_Clothes_T-shirt,Jeans',
       'Type_Clothes_T-shirt,Jeans,Casual Dress',
       'Type_Clothes_T-shirt,Jeans,Casual Dress, Formal dress',
       'Type_Clothes_T-shirt,Jeans,Ladies Tops',
       'Type_Clothes_T-shirt,Jeans,Women Dress',
       'Type_Clothes_T-shirt,Jeans,Women Dress,Casual Dress',
       'Type_Clothes_T-shirt,Jeans,Women Dress,Casual Dress,Ladies Tops',
       'Type_Clothes_T-shirt,Jeans,Women Dress,Casual Dress,Ladies Tops, Saree',
       'Type_Clothes_T-shirt,Ladies Tops', 'Type_Clothes_T-shirt,Women Dress',
       'Type_Clothes_T-shirt,Women Dress,Casual Dress,Ladies Tops',
       'Type_Clothes_T-shirt,Women Dress,Ladies Tops',
       'Type_Clothes_Women Dress', 'Type_Clothes_Women Dress,Casual Dress',
       'Type_Clothes_Women Dress,Casual Dress,Ladies Tops',
       'Type_Clothes_Women Dress,Ladies Tops', 'Brand_Clothes_Adidas,H&M',
       'Brand_Clothes_Adidas,H&M,LEVIS', 'Brand_Clothes_Adidas,H&M,ZARA',
       'Brand_Clothes_Adidas,H&M,ZARA,LEVIS', 'Brand_Clothes_Adidas,LEVIS',
       'Brand_Clothes_Don't know ', 'Brand_Clothes_Fasla',
       'Brand_Clothes_GUCCI,Adidas', 'Brand_Clothes_GUCCI,Adidas,H&M',
       'Brand_Clothes_GUCCI,Adidas,H&M,ZARA',
       'Brand_Clothes_GUCCI,Adidas,H&M,ZARA,LEVIS',
       'Brand_Clothes_GUCCI,Adidas,ZARA', 'Brand_Clothes_GUCCI,H&M,ZARA,LEVIS',
       'Brand_Clothes_GUCCI,ZARA,LEVIS', 'Brand_Clothes_H&M',
       'Brand_Clothes_H&M,LEVIS', 'Brand_Clothes_H&M,ZARA',
       'Brand_Clothes_H&M,ZARA,LEVIS', 'Brand_Clothes_LEVIS',
       'Brand_Clothes_Local shops', 'Brand_Clothes_Meesho',
       'Brand_Clothes_NIKE', 'Brand_Clothes_NIKE,Adidas',
       'Brand_Clothes_NIKE,Adidas,H&M', 'Brand_Clothes_NIKE,Adidas,H&M,LEVIS',
       'Brand_Clothes_NIKE,Adidas,H&M,ZARA',
       'Brand_Clothes_NIKE,Adidas,H&M,ZARA,LEVIS',
       'Brand_Clothes_NIKE,Adidas,LEVIS', 'Brand_Clothes_NIKE,Adidas,ZARA',
       'Brand_Clothes_NIKE,Adidas,ZARA,LEVIS', 'Brand_Clothes_NIKE,GUCCI',
       'Brand_Clothes_NIKE,GUCCI,Adidas',
       'Brand_Clothes_NIKE,GUCCI,Adidas,H&M',
       'Brand_Clothes_NIKE,GUCCI,Adidas,H&M,LEVIS',
       'Brand_Clothes_NIKE,GUCCI,Adidas,LEVIS',
       'Brand_Clothes_NIKE,GUCCI,Adidas,ZARA,LEVIS',
       'Brand_Clothes_NIKE,GUCCI,H&M,ZARA',
       'Brand_Clothes_NIKE,GUCCI,H&M,ZARA,LEVIS', 'Brand_Clothes_NIKE,H&M',
       'Brand_Clothes_NIKE,H&M,ZARA,LEVIS', 'Brand_Clothes_NIKE,LEVIS',
       'Brand_Clothes_NIKE,ZARA', 'Brand_Clothes_ZARA',
       'Brand_Clothes_ZARA,LEVIS', 'compare_prices _YES',
       'worst_experience_Yes', 'time_prefer _Without the sales (Off Season)'],
      dtype='object')

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [18]:
Dataset['Buy_Clothes'].value_counts()

Regularly       118
Occasionally     84
Name: Buy_Clothes, dtype: int64

In [19]:
train, test = train_test_split(one_hot_data, test_size =0.20)

In [25]:
lr = LogisticRegression()
columns = ['Type_Clothes_Women Dress','worst_experience_Yes','Buy_Clothes_Regularly']

lr.fit(one_hot_data[columns], one_hot_data['compare_prices _YES'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
X = train[columns]
y = train['compare_prices _YES']

train_X, val_X, train_y, val_y = train_test_split(
    X, y, test_size=0.20,random_state=0)

In [27]:
lr = LogisticRegression()
lr.fit(train_X, train_y)
predictions = lr.predict(val_X)
accuracy = accuracy_score(val_y, predictions)
print(accuracy)
from sklearn.metrics import classification_report
print(classification_report(val_y,predictions))

0.8787878787878788
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.88      1.00      0.94        29

    accuracy                           0.88        33
   macro avg       0.44      0.50      0.47        33
weighted avg       0.77      0.88      0.82        33

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [28]:
cm1 = confusion_matrix(val_y, predictions)
cm1

array([[ 0,  4],
       [ 0, 29]])

In [30]:
train, test = train_test_split(Dataset, test_size =0.25)

In [31]:
train.shape

(151, 10)

In [32]:
test.shape

(51, 10)

In [33]:
c1 = DecisionTreeClassifier(min_samples_split=100)
c2 = DecisionTreeClassifier(min_samples_split=50)

In [41]:
features = ['Rating ']

In [42]:
X_train = train[features]
y_train = train['Rating ']

X_test = test[features]
y_test = test['Rating ']

In [43]:
tree1 = c1.fit(X_train, y_train)
tree2 = c2.fit(X_train, y_train)

In [44]:
y_pred_t1 = c1.predict(X_train)
y_pred_t2 = c2.predict(X_train)

In [45]:
y_pred1 = c1.predict(X_test)
y_pred2 = c2.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score

In [50]:
train_score_1 = accuracy_score(y_train, y_pred_t1)*100
train_score_1

82.11920529801324

In [51]:
train_score_2 = accuracy_score(y_train, y_pred_t2)*100
train_score_2

95.36423841059603

In [52]:
test_score_1 = accuracy_score(y_test, y_pred1)*100
test_score_1

88.23529411764706

In [53]:
test_score_2 = accuracy_score(y_test, y_pred2)*100
test_score_2

96.07843137254902

In [54]:
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           2       0.00      0.00      0.00         2
           3       0.00      0.00      0.00         4
           4       0.73      1.00      0.84        16
           5       1.00      1.00      1.00        29

    accuracy                           0.88        51
   macro avg       0.43      0.50      0.46        51
weighted avg       0.80      0.88      0.83        51

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [55]:
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           2       0.00      0.00      0.00         2
           3       0.67      1.00      0.80         4
           4       1.00      1.00      1.00        16
           5       1.00      1.00      1.00        29

    accuracy                           0.96        51
   macro avg       0.67      0.75      0.70        51
weighted avg       0.93      0.96      0.95        51

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))